
<!--@author Max Couch, Jake Mulrenin-->
<!-- code below will style a form for user to login / register.
This also holds the router information when you submit the form that 
will change the view to the game page-->

<div class="login-page">
  <div class="form">
      <form action="http://localhost:8083/api/login" method="post" class="login-form">
            <h2 style="color:white; font-size:50px">Login</h2>
          <input name="login-username" type="text" placeholder="username" required/>
          <input name="login-password" type="password" placeholder="password" required/>
          <br />
          <br>
          <button>Login</button>
          <br>
          <br>
      </form>
      <a href="/register"><button style="margin-left:45vw; color:black;">Register</button></a>
  </div>
  
</div>