<div class="login-page">
  <div class="form">
<form action="http://localhost:8083/api/add" method="post" class="register-form">
  <h2 style="color:white; font-size:50px; float:center">Register</h2>
    <span>
    <input type="text" placeholder="username" name="username" required/>
    <input type="password" placeholder="password" name="password" required/>
    </span>
    <br>
    <br>
    <br />
    <br>
    <button style="width:68%">Get Started</button>
</form>
<a href="/login"><button style="margin-left:45vw; color:black;">Login</button></a>
</div>

</div>