<div class="login-page">
  <div class="form">
<form action="http://localhost:8083/21January/login/add" method="post" class="register-form">
  <h2 style="color:white; font-size:50px; float:center">Register</h2>
    <span>
    <input type="text" placeholder="username" name="username" required/>
    <input type="password" placeholder="password" name="password" required/>
    </span>
    <br>
    <br>
    <span>
    <input type="text" placeholder="firstname" name="firstname" required/>
    <input type="text" placeholder="lastname" name="lastname" required/>
    </span>
    <br />
    <br>
    <button style="width:68%">Get Started</button>
</form>
</div>
</div>