body {
  /* Uncomment this to enable scrolling and zooming
  touch-action: manipulation;
  */
}
ol{
    border:solid;
    
}
li {
    border:solid;

}
article{

}
a {
    text-decoration: none;
    color: black;
}
a:hover{
    color:red;
}
h1{
    text-align:center;
}
header{
    font-family:Georgia;
}
div{
    font-family:Cambria;
}